  body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }
    header {
        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
    }
    nav ul {
        list-style: none;
        padding: 0;
    }
    nav ul li {
        display: inline;
        margin: 0 15px;
    }
    nav a {
        color: white;
        text-decoration: none;
    }

    #integrantes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .title-integrantes {
        text-align: center;
    }

    .integrante {
        background: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 200px;
    }
    #integrantes, #tarefas, #sobre {
        padding: 20px;
        text-align: center;
    }
    .integrante img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 10px;
        text-align: center;
    }
    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
    }